<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <style>
            .globalstyle {
                width:450px;
                font-family:'Arial';
                font-size:12pt;
                font-weight:400;
                font-style:normal;
                text-indent:0;
                white-space: normal;
                vertical-align: middle;
                line-height: 1.6;
            }
            .imgstyle{
                text-align:center;
                line-height: 1;
            }
            .headertext {
                font-size:13pt;
                text-align: center;
                line-height: 1;
            }
            .boldtext {
                font-size:16pt;
                font-weight:600;
                margin-left:10px;
                margin-right:10px;
            }
            .spantext {
                font-size:6pt;
                line-height: 1;
                text-align:center;
            }
            .centeralign{
                text-align: center;
            }
            .leftalign{
                text-align: left;
            }
            .leftalign2{
                text-align: left;
                line-height: 1.6;
            }
            .rightalign{
                text-align: right;
            }
            .tablestyle{
                width:100%;
                text-align:center;
                line-height: 1;
                padding: 0px;
            }
        </style>
        <title>УПАКОВОЧНЫЙ ЛИСТ</title>
    </head>
    <body class="globalstyle">
        <div class="imgstyle"><img src="/barcode/code128/350.png?data=E000046950&height=80" alt="barcode" height="80"></div>
        <div class="headertext"><b>УПАКОВОЧНЫЙ ЛИСТ</b></div>
        <div class="headertext">ЭЛЕКТРОДЫ ПОКРЫТЫЕ МЕТАЛЛИЧЕСКИЕ<br>ДЛЯ РУЧНОЙ ДУГОВОЙ СВАРКИ</div>
        <table class="tablestyle">
            <tr>
                <td>
                    <div class="leftalign2">Марка <b class=boldtext>УОНИ/13/55</b> Ø <b class=boldtext>4,0</b>мм</div>
                    <div class="leftalign2">Партия <b class=boldtext>1187</b></div>
                    <div class="leftalign2">Дата выпуска <b class=boldtext>26.04.2024</b> г.</div>
                </td>
                <td class="imgstyle"><img src="/qrcode/150.png?data=NDYyNzEyMDQyMzQ0OWU1OTUyNF9fMTE4Ny0yMDI0MDAwMDAwMDAwMEUwMDAwNDY5NTA" alt="qrcode" height="150"></td>
            </tr>
        </table>
        <ul class="leftalign">
            <li>
                <div>Дата сортировки <b class=boldtext>23.04.2024</b></div>
                <div>Количество мест <b class=boldtext>224</b> Масса нетто <b class=boldtext>1232</b> кг</div>
                <table class="tablestyle" align="left">
                    <tr class="leftalign2">
                        <td>Сортировщик</td><td>______________</td><td>Запанкова Н.В.</td>
                    </tr>
                    <tr class="leftalign2">
                        <td>Мастер</td><td>______________</td><td>Колодкина Н.А.</td>
                    </tr>
                </table>
            </li>
            <li>
                <div>Дата сортировки ________________</div>
                <div>Количество мест __________ Масса нетто __________ кг</div>
                <table class="tablestyle" align="left">
                    <tr class="leftalign">
                        <td>Сортировщик</td><td>______________</td><td>________________</td>
                    </tr>
                    <tr class="spantext">
                        <td></td><td class="centeralign">подпись</td><td class="centeralign">фио</td>
                    </tr>
                    <tr class="leftalign">
                        <td>Мастер</td><td>______________</td><td>________________</td>
                    </tr>
                    <tr class="spantext">
                        <td></td><td class="centeralign">подпись</td><td class="centeralign">фио</td>
                    </tr>
                </table>
            </li>
            <li>
                <div>Дата упаковки в т/у плёнку ________________</div>
                <div>Количество мест __________ Масса нетто __________ кг</div>
                <table class="tablestyle" align="left">
                    <tr class="leftalign">
                        <td>Упаковщик</td><td>______________</td><td>________________</td>
                    </tr>
                    <tr class="spantext">
                        <td></td><td class="centeralign">подпись</td><td class="centeralign">фио</td>
                    </tr>
                    <tr class="leftalign">
                        <td>Мастер</td><td>______________</td><td>________________</td>
                    </tr>
                    <tr class="spantext">
                        <td></td><td class="centeralign">подпись</td><td class="centeralign">фио</td>
                    </tr>
                </table>
            </li>
        </ul>
    </body>
</html>
